.task-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  /* para forzar que el popper de MUI quede arriba */
  .MuiPickersPopper-root {
    z-index: 2000 !important;
  }
  
  /* ancho del input */
  .date-time-picker {
    min-width: 240px;
  }
  .task-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* blanco con 80% de opacidad */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    max-width: 700px;
    margin: 2rem auto;
    text-align: center;
  }
  
  .task-form .MuiFormControl-root label {
    color: #2e2b81; /* color violeta bonito */
    font-weight: 500;
  }
  